# Let's analyse the data wines.csv

In [1]:
import pandas as pd
df = pd.read_csv("wines.csv")

In [4]:
df[0:3]

,Unnamed: 0,country,description,name,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

## Q1: How many wines have been given a rating of 100 points?

In [6]:
len(df.loc[df["points"] == 100])

19

## Q2: What is the name of the most expensive wine?

In [8]:
df.loc[df["price"] == df["price"].max()]["name"].squeeze()

'Glamorosa Sensible'

## Q3: How to create a new column with ratings in a scale from 0 to 5? Floats are allowed.

In [22]:
df["rating"] = df["points"] / 20
df["rating"][345:350]

345    5.00
346    4.90
347    4.85
348    4.85
349    4.85
Name: rating, dtype: float64

## Q4: How to create a price histogram for wines that cost less than 100?